{% extends "main/layout.html" %}

{% block content %}

<h1>
  <span>TeenFlight Inventory</span>
  <button class='btn btn-primary pull-right' href="{% url 'inv:new_transaction' %}">New Transaction</button>
</h1>

<hr/>

<p class='pull-right'>Search Form [        ]</p>

<div class='container'>
{% load django_tables2 %}
 {% render_table table "django_tables2/bootstrap.html" %}
</div>

<table class="table table-condensed">
<thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Parts</th>
        <th>Users</th>
      </tr>
    </thead>
    <tbody>
    {% for transaction in transaction_queryset %}
        <tr>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.time }}</td>
            <td>{{ transaction.getShortPartsStr }}</td>
            <td>{{ transaction.users }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}
