{% extends "main/layout.html" %}

{% load staticfiles %}

{% block content %}

<form method="post">
    {% csrf_token %}

    {{ transaction_form }}


    {{ part_formset.management_form }}

    {% for part_form in part_formset %}
        <div class="part-formset">
            {{ part_form }}
        </div>
    {% endfor %}

    <input type="submit" value="Submit" class="button"/>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'main/scripts/jquery.formset.js' %}"></script>
<script>
    $('.part-formset').formset({
        addText: 'Add Part',
        deleteText: 'Remove'
    });
</script>
{% endblock %}
